.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
}
.avatar {
  cursor: pointer;
}
.avatar:hover {
  transform: scale(0.9);
  border: 2px solid lightgreen;
  transition: all 0.5s ease-in-out;
}
.sidebar-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar-header-right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px;
}
.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}
.sidebar-search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.sidebar-search-container > input {
  outline: none;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}
.sidebar-search-container > .MuiSvgIcon-root {
  color: gray;
}
.sidebar-chats {
  flex: 1;
  overflow: scroll;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
.createChat {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 20px;
}
.logout {
  cursor: pointer;
  opacity: 1;
}
.logout:hover {
  opacity: 0.7;
}
